#titulo {
    font-size: 600px;
    text-shadow: 2px 2px 5px;
    font-variant: small-caps;
    border: 3px solid rgb(119 206 209);;
    border-radius: 10px;
  }


h3{
    background-color: rgb(119 206 209);
    text-align: center;

}
.image-logo {
    height: 300px;
    width: 300px;
    object-fit: contain;
  }
}
